.game-Board{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr); 
    padding: 0mm;
    margin-top: auto;
    margin-bottom: 2cm;
    text-align: center;
    float: left;
    margin-left: 1cm;
}
.game-cell{
    box-shadow: rgba(0, 8, 15, 0.2) 0px 8px 24px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100px;
    background-color: rgb(157, 201, 240);
}
.winner{
    color: rgb(255, 1, 136);
    padding: 25px;
    font-size: 30px;
}
.game-cell.is-x{
    color: blue;
}
.game-cell.is-o{
    color: red;
}
.button{
    font-size: 30px;
    border: solid 2px chartreuse;
    color:  whitesmoke;
    background-color: rgb(6, 12, 12);
}
.button:hover{
    color: red;
    background-color: aliceblue;
}
.Backto{
    text-align: center;
}
.backto{
    background-color: greenyellow;
}
